<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Shmonikers{% endblock %}</title>
</head>

<body>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>

<style>
    body {
        background-image: radial-gradient(circle, #f7cac9, #92a8d1);
        height: 100vh;
        margin: 10px;
        padding: 0;
        font-family: 'Trebuchet MS', sans-serif;
    }

    html {
        font-family: 'Trebuchet MS', sans-serif;
    }
</style>

</html>